<%- include('navbar.ejs')%>
<style>
    h1{
        font-size:90px;
    }
</style>
<h1 class="mt-5">WELCOME</h1><br>
<h1 style="margin-left:300px;" class="mt-4">TO</h1><br>
<h1 style="margin-left:400px;">DASHBOARD</h1>
<%- include('footer.ejs')%>